html {
    scroll-behavior: smooth;
  }
  @keyframes smoothScrollAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* ........................home style...................... */
  
  nav{
    background-color: #50e0f3;
    padding: 20px;
    position: fixed;
    top: 1px;
    font-size: 1em;
    width: 100%;
  }
    .navigation{
      background-color: #96f2d7;
    }
    .logo{
      padding-right: 70em;
      width: 80px;
    }
    nav ul li {
      margin-right: 50px;
      display: inline;
    }
    nav ul li a {
      color: #0a0a0a;
      text-decoration: none;
      padding: 10px;
    }
  .btn2{
    padding: 10px 20px;
    background-color: #f6f9fa;
    font-size: 0.8em;
    border-radius: 1em;
    cursor: pointer;
  }
  .btn2:hover{
    background-color: #50e0f3;
  }
  
  
  .detail1{
    margin-bottom: 8em;
    background-color: #fce8eb;
    width: 1110px;
    height: 97vh;
  }
  .detail2{
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(2, 2fr);
  }
  .doc1{
    margin-top: 4em;
    padding-left: 7em;
  }
  .detail3{
    text-align: left;
    line-height: 1.5em;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:7em;
    padding-left: 2em;
  }
  .btn1{
    padding: 30px 76px;
    font-size: 1.5em;
    background-color: rgb(133, 195, 252);
    cursor: pointer;
    border: rgb(133, 195, 252);
    border-radius: 1em;
  }
  .btn1:hover{
    background-color: #92def5;
  }
  .button{
    padding-left: 2em;
  }
  
  
  .content{
    background-color: rgb(133, 195, 252);
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    font-size: 2em;
    text-align: center;
  }