.about1{
    text-align: left;
    padding-left: 2em;
    margin-top: 4em;
    font-size: 3.2em;
  }
  hr{
    width: 10em;
    border-width: 0.3em;
  }
  .about2{
    text-align: left;
    padding-left: 3.5em;
    margin-top: 4em;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .doc9{
    padding-left: 10em;
    margin-top: 8em;
    height: 63vh;
    width: 80%;
  }
  .mision{
    margin-top: 2em;
    font-size: 1.2em;
    border: solid 1px grey;
    width: 36em;
    height: 12em;
    text-align: center;
    border-radius: 5px;
  }
  .mision:hover{
    background-color: #fce8eb;
    color: rgb(0, 0, 0);cursor: pointer;
  }
  .vision{
    margin-top: 2em;
    font-size: 1.2em;
    border: solid 1px grey;
    width: 36em;
    height: 12em;
    text-align: center;
    border-radius: 5px;
  }
  .vision:hover{
    background-color: #fce8eb;
    color: rgb(0, 0, 0);cursor: pointer;
  }
  .mision-vision{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-left: 10em;
    margin-top: 4em;
  }
  h2{
    padding-left: 2em;
  }