.testimonials{
    display: flex;
    font-size: 1.2em;
    padding-left: 4em;
    gap: 6em;
  }
  .testinomy-img{
    border-radius: 1em;
    margin-top: 10em;
    height: 20vh;
  }
  .patient-testimony{
    text-align: left;
    padding-right: 10em;
    margin-top: 4em;
  }
  .patients-name{
    font-size: 1.5em;
    font-weight: bold;
  }
  .recover{
    font-weight: bold;
    font-size: 1.3em;
  }
